@media screen and (max-width:768px){
    .game-details{
        padding-left: 3.5%;
        padding-right: 3.5%;
        overflow-x: hidden;
    }
    .game-data{
        margin-top: 20px;
    }
   
}